<h2>Adventures of Coiny</h2>
<h3>Coiny Takes The Marvel Universe</h3>

Which character should Coiny replace today?
<form id="c_search">
    <input id="doppleganger" placeholder="choose your fate..." />
    <button type="submit">replace</button>
</form>

